<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.0"?>
<plugin>

   <extension
         point="org.eclipse.imp.runtime.languageDescription">
      <language
            extensions="null"
            description="The Null test language"
            language="null">
      </language>
   </extension>
   <extension
         id="org.eclipse.imp.test.null.parserWrapper"
         name="null Parser Wrapper"
         point="org.eclipse.imp.runtime.parser">
      <parserWrapper
            class="org.eclipse.imp.test.nul.parser.NullParseController"
            language="null">
      </parserWrapper>
   </extension>
   <extension
         point="org.eclipse.imp.runtime.foldingUpdater">
      <foldingUpdater
            class="org.eclipse.imp.test.nul.foldingUpdater.NullFoldingUpdater"
            language="null">
      </foldingUpdater>
   </extension>
   <extension
         point="org.eclipse.imp.runtime.tokenColorer">
      <tokenColorer
            class="org.eclipse.imp.test.nul.tokenColorer.NullTokenColorer"
            language="null">
      </tokenColorer>
   </extension>
   <extension
         point="org.eclipse.imp.runtime.contentProposer">
      <proposer
            class="org.eclipse.imp.test.nul.contentProposer.NullContentProposer"
            language="null">
      </proposer>
   </extension>
   <extension
         point="org.eclipse.imp.runtime.documentationProvider">
      <docProvider
            class="org.eclipse.imp.test.nul.documentationProvider.NullDocumentationProvider"
            language="null">
      </docProvider>
   </extension>
   <extension
         point="org.eclipse.imp.runtime.modelTreeBuilder">
      <treeBuilder
            class="org.eclipse.imp.test.nul.treeModelBuilder.NullTreeModelBuilder"
            language="null">
      </treeBuilder>
   </extension>
   <extension
         point="org.eclipse.imp.runtime.labelProvider">
      <labelProvider
            class="org.eclipse.imp.test.nul.treeModelBuilder.NullLabelProvider"
            language="null">
      </labelProvider>
   </extension>
   <extension
         point="org.eclipse.imp.runtime.markOccurrences">
      <occurrenceMarker
            class="org.eclipse.imp.test.nul.occurrenceMarker.NullOccurrenceMarker"
            language="null">
      </occurrenceMarker>
   </extension>
   <extension
         point="org.eclipse.imp.runtime.referenceResolvers">
      <referenceResolver
            class="org.eclipse.imp.test.nul.referenceResolvers.NullReferenceResolver"
            language="null">
      </referenceResolver>
   </extension>

</plugin>
